node_modules
dist
.env
artifacts
cache
coverage
fhevmTemp
types
coverage.json
typechain-types

# Hardhat
deployments/localhost
deployments/sepolia

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
frontend/.next
*.tsbuildinfo
hooks/
hooks/lib/
hooks/out/
hooks/lib/
hooks/out/
hooks/cache/
hooks/.github/
hooks/
